<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>667185101075-kbmrppv211791ahtk0873hgjr3ra9kq0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.667185101075-kbmrppv211791ahtk0873hgjr3ra9kq0</string>
	<key>API_KEY</key>
	<string>AIzaSyCM30dOQsapmcJ4-6Vse8ZU22bcDyyNAmo</string>
	<key>GCM_SENDER_ID</key>
	<string>667185101075</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aminbagheriapps.PocketRehab</string>
	<key>PROJECT_ID</key>
	<string>pocketrehab-app</string>
	<key>STORAGE_BUCKET</key>
	<string>pocketrehab-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:667185101075:ios:96368875cee8856e2242e6</string>
</dict>
</plist>
